
 img {
     width: 60px;
     height:60px;
 }

body{ background-color: blue;
    border: 10px solid red;
    height: 100vh;
    justify-content: center;
    align-content: center;
    text-align: center;
}



